Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 4

## Assignment

- [ ] Watch Aaron Gallant's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.
- [ ] Do train/validate/test split with the Tanzania Waterpumps data.
- [ ] Do one-hot encoding. (Remember it may not work with high cardinality categoricals.)
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your validation accuracy score.
- [ ] Get and plot your coefficients.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.


## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Clean the data. For ideas, refer to [The Quartz guide to bad data](https://github.com/Quartz/bad-data-guide),  a "reference to problems seen in real-world data along with suggestions on how to resolve them." One of the issues is ["Zeros replace missing values."](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values)
- [ ] Make exploratory visualizations.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).


#### Exploratory visualizations

Visualize the relationships between feature(s) and target. I recommend you do this with your training set, after splitting your data. 

For this problem, you may want to create a new column to represent the target as a number, 0 or 1. For example:

```python
train['functional'] = (train['status_group']=='functional').astype(int)
```



You can try [Seaborn "Categorical estimate" plots](https://seaborn.pydata.org/tutorial/categorical.html) for features with reasonably few unique values. (With too many unique values, the plot is unreadable.)

- Categorical features. (If there are too many unique values, you can replace less frequent values with "OTHER.")
- Numeric features. (If there are too many unique values, you can [bin with pandas cut / qcut functions](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html?highlight=qcut#discretization-and-quantiling).)

You can try [Seaborn linear model plots](https://seaborn.pydata.org/tutorial/regression.html) with numeric features. For this problem, you may want to use the parameter `logistic=True`

You do _not_ need to use Seaborn, but it's nice because it includes confidence intervals to visualize uncertainty.

#### High-cardinality categoricals

This code from the previous assignment demonstrates how to replace less frequent values with 'OTHER'

```python
# Reduce cardinality for NEIGHBORHOOD feature ...

# Get a list of the top 10 neighborhoods
top10 = train['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10,
# replace the neighborhood with 'OTHER'
train.loc[~train['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
test.loc[~test['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
```

#### Pipelines

[Scikit-Learn User Guide](https://scikit-learn.org/stable/modules/compose.html) explains why pipelines are useful, and demonstrates how to use them:

> Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:
> - **Convenience and encapsulation.** You only have to call fit and predict once on your data to fit a whole sequence of estimators.
> - **Joint parameter selection.** You can grid search over parameters of all estimators in the pipeline at once.
> - **Safety.** Pipelines help avoid leaking statistics from your test data into the trained model in cross-validation, by ensuring that the same samples are used to train the transformers and predictors.

### Reading
- [ ] [How (and why) to create a good validation set](https://www.fast.ai/2017/11/13/validation-sets/)
- [ ] [Always start with a stupid model, no exceptions](https://blog.insightdatascience.com/always-start-with-a-stupid-model-no-exceptions-3a22314b9aaa)
- [ ] [Statistical Modeling: The Two Cultures](https://projecteuclid.org/download/pdf_1/euclid.ss/1009213726)
- [ ] [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way (without an excessive amount of formulas or academic pre-requisites).

In [1]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # category_encoders, version >= 2.0
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade category_encoders pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module4')

In [2]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd

train_features = pd.read_csv('../data/tanzania/train_features.csv')
train_labels = pd.read_csv('../data/tanzania/train_labels.csv')
test_features = pd.read_csv('../data/tanzania/test_features.csv')
sample_submission = pd.read_csv('../data/tanzania/sample_submission.csv')

assert train_features.shape == (59400, 40)
assert train_labels.shape == (59400, 2)
assert test_features.shape == (14358, 40)
assert sample_submission.shape == (14358, 2)

In [3]:
# Doesnt work locally. Find out why. 

import pandas_profiling

train_features.profile_report()

ModuleNotFoundError: No module named 'pandas_profiling'

In [8]:
# Determine majority class
# Functional is the majority 

y_train = train_labels['status_group']
y_train.value_counts(normalize = True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [15]:
# What if we guessed the majority class for every prediction?

majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)
# y_pred = ['functional'] * len(y_train)

print(len(y_pred))

59400

In [16]:
# Calculating accuracy score of our baseline

from sklearn.metrics import accuracy_score 

accuracy_score(y_train, y_pred)

0.543080808080808

In [21]:
# split via random. 
# Split arrays or matrices into random train and test subsets
# 

from sklearn.model_selection import train_test_split

X_train = train_features
y_train = train_labels['status_group']

X_train.shape, y_train.shape

((59400, 40), (59400,))

In [25]:
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size = 0.80, test_size = 0.20,
    stratify = y_train, random_state = 42
)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 40), (11880, 40), (47520,), (11880,))

In [26]:
y_train.value_counts(normalize = True)

functional                 0.543077
non functional             0.384238
functional needs repair    0.072685
Name: status_group, dtype: float64

In [29]:
y_val.value_counts(normalize = True)

functional                 0.543098
non functional             0.384259
functional needs repair    0.072643
Name: status_group, dtype: float64

In [30]:
# Logistic Regression. 
# Start with baselines

X_train_numeric = X_train.select_dtypes('number')
X_val_numeric = X_val.select_dtypes('number')

In [31]:
# Whats missing?

X_train_numeric.isnull().sum()

id                   0
amount_tsh           0
gps_height           0
longitude            0
latitude             0
num_private          0
region_code          0
district_code        0
population           0
construction_year    0
dtype: int64

In [35]:
# 1. Import the class
from sklearn.linear_model import LogisticRegressionCV # CV = Cross Validation

# 2. Instantiate it
model = LogisticRegressionCV(n_jobs = -1)

# 3. Fit it
model.fit(X_train_numeric, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=-1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [36]:
# Evaluate 

y_pred = model.predict(X_val_numeric)
accuracy_score(y_val, y_pred)

0.553956228956229

In [37]:
model.score(X_val_numeric, y_val)

0.553956228956229

In [38]:
# What predictions does the Logistic Regression return?

y_pred

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [39]:
y_pred_proba = model.predict_proba(X_val_numeric)

y_pred_proba

array([[0.50246158, 0.0693455 , 0.42819291],
       [0.64769489, 0.10210045, 0.25020466],
       [0.55674221, 0.07526298, 0.3679948 ],
       ...,
       [0.49090854, 0.08437768, 0.42471377],
       [0.63426186, 0.06463549, 0.30110265],
       [0.3013466 , 0.05464326, 0.64401014]])

In [41]:
pd.Series(y_pred).value_counts(normalize = True)

functional        0.907323
non functional    0.092677
dtype: float64

In [42]:
# One-hot encoding of categorical features
# Checking for cardinality. Cardinality means the number of unique values that a feature has. 

X_train.describe(exclude = 'number').T.sort_values(by = 'unique')

                       count unique                      top   freq
recorded_by            47520      1  GeoData Consultants Ltd  47520
public_meeting         44876      2                     True  40838
permit                 45077      2                     True  31071
source_class           47520      3              groundwater  36638
management_group       47520      5               user-group  42027
quantity_group         47520      5                   enough  26567
quantity               47520      5                   enough  26567
waterpoint_type_group  47520      6       communal standpipe  27642
quality_group          47520      6                     good  40598
payment_type           47520      7                never pay  20287
source_type            47520      7                   spring  13620
waterpoint_type        47520      7       communal standpipe  22778
extraction_type_class  47520      7                  gravity  21448
payment                47520      7                never pay  20287
water_quality          47520      8                     soft  40598
basin                  47520      9            Lake Victoria   8137
source                 47520     10                   spring  13620
scheme_management      44392     12                      VWC  29470
management             47520     12                      vwc  32449
extraction_type_group  47520     13                  gravity  21448
extraction_type        47520     18                  gravity  21448
region                 47520     21                   Iringa   4250
lga                    47520    124                   Njombe   2003
date_recorded          47520    349               2011-03-17    474
funder                 44616   1716   Government Of Tanzania   7321
installer              44603   1929                      DWE  13978
ward                   47520   2082                    Igosi    257
scheme_name            24988   2563                        K    548
subvillage             47234  17231                  Shuleni    420
wpt_name               47520  30661                     none   2879

In [43]:
# Explore quantity feature

X_train['quantity'].value_counts(normalize = True, dropna = False)

enough          0.559070
insufficient    0.255745
dry             0.103556
seasonal        0.068266
unknown         0.013363
Name: quantity, dtype: float64

In [45]:
# Recombine X_train and y_train, for EDA

train = X_train.copy()
train['status_group'] = y_train

# Groupby

train.groupby('quantity')['status_group'].value_counts(normalize = True)

quantity      status_group
dry           non functional             0.967689
              functional                 0.026011
              functional needs repair    0.006300
enough        functional                 0.650920
              non functional             0.276998
              functional needs repair    0.072082
insufficient  functional                 0.521106
              non functional             0.382786
              functional needs repair    0.096108
seasonal      functional                 0.580456
              non functional             0.318434
              functional needs repair    0.101110
unknown       non functional             0.713386
              functional                 0.267717
              functional needs repair    0.018898
Name: status_group, dtype: float64

In [48]:
import matplotlib.pyplot as plt
import seaborn as sns

train['functional'] = (train['status_group'] == 'functional').astype(int)
train[['status_group', 'functional']]

                  status_group  functional
43360               functional           1
7263                functional           1
2486                functional           1
313             non functional           0
52726               functional           1
8558                functional           1
2559                functional           1
54735               functional           1
25763           non functional           0
44540           non functional           0
28603           non functional           0
4372            non functional           0
30666               functional           1
6431                functional           1
57420           non functional           0
1373                functional           1
2026                functional           1
58977           non functional           0
41101           non functional           0
10019               functional           1
5103                functional           1
36712               functional           1
29670               functional           1
54588               functional           1
31867               functional           1
12090               functional           1
48300               functional           1
16754               functional           1
50582           non functional           0
9136            non functional           0
...                        ...         ...
26450               functional           1
56373           non functional           0
4595                functional           1
35771  functional needs repair           0
41564               functional           1
30571               functional           1
25961           non functional           0
21280               functional           1
40122               functional           1
42270           non functional           0
38160               functional           1
6050            non functional           0
12578               functional           1
56315               functional           1
48801               functional           1
5891            non functional           0
59254               functional           1
3731                functional           1
23046               functional           1
28292  functional needs repair           0
19682               functional           1
38481               functional           1
7096                functional           1
36363               functional           1
48006               functional           1
9795            non functional           0
58170           non functional           0
17191           non functional           0
8192                functional           1
49783               functional           1

[47520 rows x 2 columns]

In [49]:
# Not working locally. Update Conda

sns.catplot(x = 'quantity', y = 'functional', data = train, kind = 'bar')
plt.title('% of Waterpumps Functional, by Water Quantity')

AttributeError: module 'seaborn' has no attribute 'catplot'

In [50]:
# One-hot encoding and scale features. 

import category_encoders as ce
from sklearn.preprocessing import MinMAxScaler

categorical_features = ['quantity']
numeric_features = X_train.select_dtypes('numbers').columns.drop('id').tolist()
features = categorical_features + numeric_features

X_train_subset = X_train[features]
X_val_subset = x_val[features]

encoder = ce.OneHotEncoder(use_cat_name = True)
X_train_encoded = encoder.fit_transform(X_train_subset)
X_val_encoded = encoder.transform(X_val_subset)

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

model = LogisticRegressionCV(n_jobs = -1)
model.fit(X_train_scaled, y_train)
print('Validation Accuracy', model.score(x_val_scaled, y_val))

ModuleNotFoundError: No module named 'category_encoders'